<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.video.filter.videofilter">
      <filter
            class="ovap.video.filter.delta.DeltaFilter"
            id="ovap.video.filter.delta">
         <configuration_gui
               class="ovap.video.filter.delta.DeltaFilterConfigurationContributer">
         </configuration_gui>
      </filter>
   </extension>

</plugin>
