<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ovap.product.ui.perspective.OVAPPerspective"
            id="ovap.product.perspective.main"
            name="OVAP">
      </perspective>
   </extension>

</plugin>
