<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.video.filter.videofilter">
      <filter
            class="ovap.video.filter.bgsubtractor.core.SubtractionFilter"
            id="ovap.video.filter.bgsubtractor">
         <port
               direction="In"
               name="in">
         </port>
         <port
               direction="Out"
               name="out">
         </port>
         <configuration_gui
               class="ovap.video.filter.bgsubtractor.ui.SubtractionFilterConfigurationContributer">
         </configuration_gui>
      </filter>
   </extension>

</plugin>
