<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.filter.videofilter">
      <filter
            class="ovap.video.filter.source.SourceFilter">
      </filter>
   </extension>
   <extension
         point="ovap.filter.configuration">
      <configuration
            class="ovap.video.filter.source.SourceFilterConfigurationContributer"
            filtertype="ovap.video.filter.source">
      </configuration>
   </extension>
</plugin>
