<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.filter.videofilter">
      <filter
            class="ovap.video.filter.source.SourceFilter"
            id="ovap.video.filter.source">
         <configuration_gui
               class="ovap.video.filter.source.SourceFilterConfigurationContributer">
         </configuration_gui>
      </filter>
   </extension>
</plugin>
