<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ovap.module" name="ovap.module.module" schema="schema/ovap.module.exsd"/>
   <extension
         point="ovap.video.module.manager">
      <module_manager
            class="ovap.module.ModuleManager">
      </module_manager>
   </extension>

</plugin>
