<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ovap.video.module" name="Module" schema="schema/ovap.video.module.exsd"/>
   <extension
         point="ovap.video.module.manager">
      <module_manager
            class="ovap.video.module.ModuleManager">
      </module_manager>
   </extension>
   <extension
         point="ovap.video.analysis.wizard.page">
      <wizardpage
            class="ovap.video.module.analysis.wizard.page.ModuleSetupPage">
      </wizardpage>
   </extension>

</plugin>
