<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.filter.videofilter">
      <filter
            class="ovap.video.filter.display.FrameDisplayFilter"
            id="ovap.video.filter.display">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ovap.video.filter.display.editor.FrameViewerEditor"
            default="false"
            id="ovap.video.filter.display.editor"
            name="Frame Viewer">
      </editor>
   </extension>

</plugin>
