<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.video.module">
      <module
            class="ovap.module.testmodule.TestModule"
            id="ovap.video.module.testmodule">
         <configuration_gui
               class="ovap.module.testmodule.TestModuleConfigurationContributer">
         </configuration_gui>
      </module>
   </extension>

</plugin>
