<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.video.module">
      <module
            class="ovap.module.testmodule.TestModule"
            id="ovap.video.module.testmodule">
         <out_parameter
               id="ovap.video.module.testmodule.out_parameter1"
               name="out_parameter1">
         </out_parameter>
         <out_parameter
               id="ovap.video.module.testmodule.out_parameter2"
               name="out_parameter2">
         </out_parameter>
         <in_parameter
               id="ovap.video.filter.blobdetector.parameter.blobslocations"
               name="blobs">
         </in_parameter>
         <in_parameter
               id="ovap.video.module.testmodule.in_parameter3"
               name="in_parameter2">
         </in_parameter>
         <configuration_gui
               class="ovap.module.testmodule.TestModuleConfigurationContributer">
         </configuration_gui>
      </module>
   </extension>

</plugin>
