<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ovap.device.input" name="ovap.device.input" schema="schema/ovap.device.input.exsd"/>
   <extension
         id="SrcMgr"
         name="SrcMgr"
         point="ovap.video.source.manager">
      <source_manager
            class="ovap.video.source.SourceManager">
      </source_manager>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="ovap.video.source.ui.SourceLaunchConfigurationTab"
            group="ovap.video.launch.stream.tabgroup"
            id="ovap.video.source.maintab"
            name="Source">
      </tab>
   </extension>


</plugin>
