<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.video.source">
      <camera
            class="ovap.video.source.cam.agcam.AGCamSource">
         <optionsgui
               class="ovap.video.source.cam.agcam.AGCamAdvancedOptionsComposite">
         </optionsgui>
      </camera>
   </extension>

</plugin>
