<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ovap.video.filter.videofilter">
      <filter
            class="ovap.video.filter.blobdetector.BlobDetector"
            id="ovap.video.filter.blobdetector">
         <configuration_gui
               class="ovap.video.filter.blobdetector.BlobDetectorConfigurationContributer">
         </configuration_gui>
      </filter>
   </extension>
</plugin>
