<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ovap.video.module.manager" name="ModuleManager" schema="schema/ovap.video.module.manager.exsd"/>
   <extension-point id="ovap.video.source.manager" name="SourceManager" schema="schema/ovap.video.source.manager.exsd"/>
   <extension-point id="ovap.video.filter.manager" name="FilterManager" schema="schema/ovap.video.filter.manager.exsd"/>
   <extension-point id="ovap.video.analysis.wizard.page" name="AnalysisWizardPage" schema="schema/ovap.video.analysis.wizard.page.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ovap.video.launch.model.OVAPLaunchDelegate"
            id="ovap.video.launch.config"
            modes="run,debug"
            name="OVAP Launch"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ovap.video.launch.ui.LaunchStreamTabGroup"
            id="ovap.video.launch.config.tabgroup"
            type="ovap.video.launch.config">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ovap.video.command.analysis"
            name="Start Analysis">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?endof=editGroup">
         <command
               commandId="ovap.video.command.analysis"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ovap.video.launch.analysis.command.handler.StartAnalysisCommandHandler"
            commandId="ovap.video.command.analysis">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="ovap.video.launch.model.OVAPLaunch"
            class="ovap.video.launch.model.OVAPLaunchAdapterFactory">
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory">
         </adapter>
      </factory>
      <factory
            adaptableType="ovap.video.launch.model.AnalysisTarget"
            class="ovap.video.launch.model.AnalysisTargetAdapterFactory">
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ovap.video.Startup">
      </startup>
   </extension>
</plugin>
