<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ovap.video.module.manager" name="ModuleManager" schema="schema/ovap.video.module.manager.exsd"/>
   <extension-point id="ovap.video.source.manager" name="SourceManager" schema="schema/ovap.video.source.manager.exsd"/>
   <extension-point id="ovap.video.filter.manager" name="FilterManager" schema="schema/ovap.video.filter.manager.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ovap.video.launch.OVAPLaunchDelegate"
            id="ovap.video.launch.stream"
            modes="run,debug"
            name="OVAP Stream"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ovap.video.launch.ui.LaunchStreamTabGroup"
            id="ovap.video.launch.stream.tabgroup"
            type="ovap.video.launch.stream">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
