<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="ovap.video.filter.filtermodel.edit.constraint.filter"
            name="Filter_Constraints">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http:///ovap/video/filter/emf/FilterSetup.ecore/1.0.0/">
         </package>
         <constraints
               categories="ovap.video.filter.filtermodel.edit.constraint.filter">
            <constraint
                  class="ovap.video.filter.setup.model.validation.PortConnectionConstraint"
                  id="ovap.video.filter.filtermodel.edit.constraint.filter.portconnection"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Port Connections"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Filter instance {0} has unconnected ports.
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="model"
            class="ovap.video.filter.setup.model.provider.ModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>


</plugin>
