<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ovap.filter.videofilter" name="VideoFilter" schema="schema/ovap.filter.videofilter.exsd"/>
   <extension
         point="ovap.video.filter.manager">
      <filter_manager
            class="ovap.filter.FilterManager">
      </filter_manager>
   </extension>
</plugin>
