<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ovap.video.filter.videofilter" name="VideoFilter" schema="schema/ovap.video.filter.videofilter.exsd"/>
   <extension
         point="ovap.video.filter.manager">
      <filter_manager
            class="ovap.video.filter.FilterManager">
      </filter_manager>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="ovap.video.filter.ui.FiltersLaunchConfigurationTab"
            group="ovap.video.launch.config.tabgroup"
            id="ovap.video.filter.launch.filterstab"
            name="Filters Configuration">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ovap.video.filter.filtergraph.diagram">
         <propertyTab
               category="extra"
               id="ovap.video.filter.propertytab.configuration"
               label="Configuration">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ovap.video.filter.filtergraph.diagram">
         <propertySection
               class="ovap.video.filter.ui.ConfigurationPropertySection"
               filter="ovap.video.filter.ui.FilterInstancePropertySectionFilter"
               id="ovap.video.filter.propertysection.configuration"
               tab="ovap.video.filter.propertytab.configuration">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ovap.video.filter.FilterManager">
      </startup>
   </extension>
</plugin>
