<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ovap.video.filter.filtersetup.presentation.FiltersetupModelWizardID"
            name="%_UI_FiltersetupModelWizard_label"
            class="ovap.video.filter.filtersetup.presentation.FiltersetupModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FiltersetupModelFile.gif">
         <description>%_UI_FiltersetupModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="ovap.video.filter.filtersetup.presentation.FiltersetupEditorID"
            name="%_UI_FiltersetupEditor_label"
            icon="icons/full/obj16/FiltersetupModelFile.gif"
            extensions="filtersetup"
            class="ovap.video.filter.filtersetup.presentation.FiltersetupEditor"
            contributorClass="ovap.video.filter.filtersetup.presentation.FiltersetupActionBarContributor">
      </editor>
   </extension>

</plugin>
